<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            ShopVerse
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item dropdown">

    <a class="nav-link dropdown-toggle"
       href="#"
       role="button"
       data-bs-toggle="dropdown">

        Categories

    </a>

    <ul class="dropdown-menu">

        {% for category in categories %}

        <li>

            <a class="dropdown-item"
               href="{% url 'category_products' category.slug %}">

                {{ category.name }}

            </a>

        </li>

        {% endfor %}

    </ul>

</li>

<form class="d-flex ms-3"
      method="GET"
      action="{% url 'search_products' %}">

    <input class="form-control me-2"
           type="search"
           name="q"
           placeholder="Search products">

    <button class="btn btn-outline-light"
            type="submit">

        Search

    </button>

</form>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart_detail' %}">Cart</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

            </ul>

        </div>

    </div>
</nav>